body {color: #40514E;
      margin: 0;
      text-align: center; 
      font-family: 'Merriweather', serif;
}
h1 {font-size: 5.625rem;
    margin: 50% auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2rem;
}
h2 {font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal; 
    padding-bottom: 10px;}
h3 {color: #11999E;}
hr  {border: dotted #EAF6F6 6px ;
     border-bottom: none;
     width: 4%;
     margin: 100px auto 100px auto;}
.topcontainer {background-color: blue;
               padding-top: 100px;
               position: relative}
.skill-row {width: 50%;
            margin: 100px auto 100px auto;
            text-align: left;}
.computerengineering {width: 25%;
            float: left;
            margin-right: 30px;}
.diplomat {width: 20%;
           float: right;
           margin-left: 30px; }
p {line-height: 2;}
.jessphoto {width:25%;}
.contact-message {width: 40%;
margin:40px auto 60px auto}
.copyright {color: #EAF6F6;
     font-size: 0.75rem;
padding: 20px 0;}
.middle-container {margin: 100px 0;}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family:'Montserrat', sans-serif ;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
.bottom-container {background-color: #66BFBF;
padding: 50px 0 20px;}
    .intro {width: 30% ;
    margin: auto;}
.top-cloud {position: absolute;
top:40px;
right: 300px;}
.bottom-cloud {position: absolute;
bottom: 300px;
left: 250px;}
a {color: #11999E;
font-family: 'Montserrat' sans-serif;
margin: 10px auto;}
a:hover {color: #EAF6F6;}
